---
import type { UrlData } from '../types/url'
import Button from './ui/Button.astro'
import ClipboardIcon from '../icons/ClipboardIcon.astro'

interface Props {
  originalUrl: UrlData['originalUrl']
  shortUrl: UrlData['shortUrl']
  createdDate?: UrlData['createdDate']
  index?: number
}

const { originalUrl, shortUrl, createdDate, index = 0 } = Astro.props
const copyButtonId = `copy-btn-${index}`
---

<li class="border-neon rounded-lg p-4">
  <p class="mb-3">
    <strong>Original URL:</strong>
    <a
      href={originalUrl}
      class="text-blue-500 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
    >
      {originalUrl}
    </a>
  </p>
  <div class="flex items-center justify-between gap-4">
    <div class="flex-1 mb-3">
      <strong>Shortened URL:</strong>
      <a
        href={shortUrl}
        class="text-blue-500 hover:underline shortened-url"
        target="_blank"
        rel="noopener noreferrer"
        data-url={shortUrl}
        data-index={index}
      >
        {shortUrl}
      </a>
    </div>
    <Button
      id={copyButtonId}
      type="button"
      class="btn px-4 py-2 text-sm transition-all duration-200 hover:scale-105"
      data-url={shortUrl}
      data-index={index}
    >
      <ClipboardIcon />
    </Button>
  </div>
  <p class="gap-4">
    <strong>Date:</strong>
    <span class="text-blue-500">{createdDate}</span>
  </p>
</li>

<script define:vars={{ copyButtonId, shortUrl }}>
  const copyButton = document.getElementById(copyButtonId)
  if (copyButton) {
    const svg = copyButton.querySelector('svg')
    const path = svg.querySelector('path')
    const originalD = path.getAttribute('d')
    const originalStroke = path.getAttribute('stroke')
    const checkD = 'M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'
    const checkStroke = 'green'

    copyButton.addEventListener('click', () => {
      navigator.clipboard
        .writeText(shortUrl)
        .then(() => {
          path.setAttribute('d', checkD)
          path.setAttribute('stroke', checkStroke)
          setTimeout(() => {
            path.setAttribute('d', originalD)
            path.setAttribute('stroke', originalStroke)
          }, 2000)
        })
        .catch(() => {
          alert('Failed to copy URL')
        })
    })
  }
</script>
