---
import { API_URL } from 'astro:env/client'
import UrlCard from './UrlCard.astro'
import type { UrlData } from '../types/url'
import SortIcon from '../icons/SortIcon.astro'

const response = await fetch(`${API_URL}/urls`)
const urls: UrlData[] = await response.json()
---

<div class="mt-6">
  <h2
    class="text-2xl font-bold mb-4 flex items-center justify-between gap-4 tracking-wider blink"
  >
    <span class="blink">Shortened URLs</span>
    <SortIcon
      class="w-6 h-6 hover:scale-110 transition-transform duration-200 cursor-pointer"
    />
  </h2>
  {
    urls.length === 0 ? (
      <p>No URLs shortened yet.</p>
    ) : (
      <ul class="space-y-4">
        {urls.map((url: UrlData, index: number) => (
          <UrlCard
            originalUrl={url.originalUrl}
            shortUrl={url.shortUrl}
            createdDate={url.createdDate}
            index={index}
          />
        ))}
      </ul>
    )
  }
</div>
