---
import { API_URL } from 'astro:env/server'

const response = await fetch(`${API_URL}/urls`)
const urls = await response.json()
---

<div class="mt-6">
  <h2 class="text-2xl font-bold mb-4">Shortened URLs</h2>
  {
    urls.length === 0 ? (
      <p>No URLs shortened yet.</p>
    ) : (
      <ul class="space-y-4">
        {urls.map((url) => (
          <li key={url.id} class="border-neon rounded-lg p-4">
            <p>
              <strong>Original URL:</strong>
              <a
                href={url.originalUrl}
                class="text-blue-500 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                {url.originalUrl}
              </a>
            </p>
            <p>
              <strong>Shortened URL:</strong>
              <a
                href={url.shortUrl}
                class="text-blue-500 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
                id="shortened-url"
              >
                {url.shortUrl}
              </a>
            </p>
          </li>
        ))}
      </ul>
    )
  }
</div>
